{% extends "note/base.html" %}
{% load static %}
{% block header %}
{% endblock header %} 
<html>
{% block content %}
<body>
<div align="center" class='jumbotron'><img src="static/1.jpg">
 <h3>白家海子煤矿</h3> <a href="{% url 'note:new_entries' %}"><h1>施工日报</a></h1> 
</div> 
<hr>
<h3 align="center">请于每天8:00前，<a href="{% url 'note:new_entries' %}">填写施工日报</a></h3>
<hr>
<div align="left" style="line-height:30px">
    &emsp;&emsp;日报按照单位工程进行填写，要求准确填写每天的出勤和工程进度。    
    对主要工作内容进行描述，对存在的问题和影响情况进行详细描述。
    对当天的工程计划、工作安排、主要沟通和协调事项进行登记传达。
    日报填写需要注册，注册后会对填报的内容和数据进行上传和保护。
    你可以随时登录网站，对日报内容进行查看，了解工程施工进展情况。
    <a href="{% url 'img_db:upload' %}">工程照片管理</a>
</div>
<hr>
  
  <img src="{% static "2.jpg" %}" alt="煤矿规划图" height=280 width=480 />   
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="img">
    <button type="submit">上传</button>
</form>
</body>
</html>
{% endblock content %}