{% extends "note/base.html" %}
{% load bootstrap3 %}
{% block header %}
 <h3><a href="{% url 'note:new_topic' %}">增加单位工程</a></h3>
{% endblock header %}
{% block content %}
    <!--单位工程表单-->
    <div class="row" >
      <div class="col-md-8" style="width: 780px;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>序号</th>
              <th>工程名称</th>
              <th>施工单位</th>
              <th>工程量</th>
              <th>技术特征</th>
              <th>开工时间</th>
              <th>完工时间</th>
              <th>工期（天）</th>          
            </tr>
          </thead>
          <tbody>
        {% for topic in topics %}
        <tr>
          <td>{{ topic.id }}</td>
          <td>{{ topic.text }}</a></td>
          <td>{{ topic.company }}</a></td>
          <td>{{ topic.quantity }}</td>
          <td>{{ topic.character }}</td>
          <td>{{topic.start_time|date:'Y-m-d'}}</td>
          <td>{{topic.end_time|date:'Y-m-d'}}</td>
          <td>{{ topic.days }}</td>
        </tr>   
          </tbody>
        {% empty %}              
         <a href="{% url 'note:new_topic' %}">请增加单位工程</a>
        {% endfor %}
        </table>        
      </div>   
    </div>    
{% endblock content %}