{% extends "note/base.html" %}

{% block content %}
 &diams;&diams;<a href="{% url 'note:new_topic' %}">增加单位工程</a>&diams;&diams;
    <!--单位工程表单-->
    <div class="row" >
      <div class="col-md-8" style="width: 900px;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>序号</th>
              <th>工程名称</th>
              <th>工程量</th>
              <th>技术特征</th>
              <th>开工时间</th>
              <th>完工时间</th>
              <th>工期（天）</th>             
              <th></th>             
            </tr>
          </thead>
          <tbody>
        {% for topic in topics %}
        <tr>
          <td>{{ topic.id }}</td>
          <td><a href="{% url 'note:topic' topic.id %}">{{ topic.text }}</a></td>
          <td>{{ topic.quantity }}</td>
          <td>{{ topic.character }}</td>
          <td>{{topic.start_time|date:'Y-m-d'}}</td>
          <td>{{topic.end_time|date:'Y-m-d'}}</td>
          <td>{{ topic.days }}</td>
        </tr>   
          </tbody>
        {% empty %}              
         请增加单位工程
        {% endfor %}
        </table>        
      </div>   
    </div>    
{% endblock content %}